.DS_Store
.vagrant/
*.pyc
*.pyo
*.swp
*.swo
private/
venv/
htmlcov/
cover/
coverage.xml
nosetests.xml
.coverage

*.egg-info
.eggs/
mock-*
nosexcover-*
.ropeproject/
.idea/
.coveralls.yml
coverage.json
pylint.out

# Developer's files
/app/deploy/settings.conf
/app/deploy/*/fabric.py
/app/deploy/*/settings.conf
/app/deploy/*/virtualhost.conf

app/ssl/server.key
app/ssl/server.crt
