
Flask
Flask-DebugToolbar
Flask-Login
Flask-OAuthlib
Flask-SQLAlchemy
Flask-Testing
SQLAlchemy
mysqlclient
pyOpenSSL
pytest
pytz


# utility functions in tasks.py 
invoke
colorama

# Flask-Mail
# Flask-Principal
