
Flask
Flask-DebugToolbar
Flask-Login
Flask-OAuthlib
Flask-SQLAlchemy
Flask-Principal
Flask-Testing

# @see http://docs.sqlalchemy.org/en/latest/dialects/mysql.html
PyMySQL
SQLAlchemy
WTForms

mock
passlib
pyOpenSSL
pytest
pytest-cov
pytz

# utility functions in tasks.py 
invoke

# Flask-Mail
# Flask-Principal
