
Flask
Flask-DebugToolbar
Flask-Login
Flask-OAuthlib
Flask-SQLAlchemy
Flask-Testing

# @see http://docs.sqlalchemy.org/en/latest/dialects/mysql.html
PyMySQL
SQLAlchemy

pyOpenSSL
pytest
pytz


# utility functions in tasks.py 
colorama
invoke

# Flask-Mail
# Flask-Principal
